<!DOCTYPE html>
<html lang="en" class="bg-base-200">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CZ4031 Project 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"><link rel="preconnect" href="https://fonts.googleapis.com">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div x-data="getData()" class="container mx-auto px-4 py-12">
        <h1 class="text-3xl font-semibold mb-8">CZ4031 Project 2</h1>
        <form class="grid gap-y-6 mb-10">
            <select x-model="exampleQuery" @change="updateQueries()" class="select select-bordered max-w-xs">
                <option value="0">Choose an example</option>
                <option value="1">Example 1</option>
                <option value="2">Example 2</option>
                <option value="3">Example 3</option>
                <option value="4">Example 4</option>
                <option value="5">Example 5</option>
                <option value="6">Example 6</option>
            </select>
            <div class="grid sm:grid-cols-2 gap-4">
                <div>
                    <label for="query1" class="block text-lg font-semibold mb-2">Query 1</label>
                    <textarea x-model="query1" id="query1" name="query1" class="textarea textarea-bordered w-full p-5 font-mono placeholder-slate-500" rows="6" placeholder="Type a custom query or choose an example..."></textarea>
                </div>
                <div>
                    <label for="query2" class="block text-lg font-semibold mb-2">Query 2</label>
                    <textarea x-model="query2" id="query2" name="query2" class="textarea textarea-bordered w-full p-5 font-mono placeholder-slate-500" rows="6" placeholder="Type a custom query or choose an example..."></textarea>
                </div>
            </div>
            <div class="flex gap-2">
                <button @click.prevent="handleSubmit" class="btn btn-primary">Get Query Plans</button>
                <button @click.prevent="resetQueries" class="btn btn-secondary">Reset Queries</button>
            </div>
            <div x-show="error.length" class="alert alert-error shadow-lg">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                  <span x-text="error"></span>
                </div>
              </div>
            <div>
        </form>
            <div class="bg-base-300 p-5 rounded border border-base-content border-opacity-20">
                <h2 class="text-lg font-semibold mb-2">Difference in the queries</h2>
                <ol x-show="diff.length" class="list-decimal list-inside">
                    <template x-for="item in diff">
                        <li x-text="item"></li>
                    </template>
                </ol>
                <p x-show="!diff.length">
                    -
                </p>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 w-full mt-4">
                <div class="flex-1">
                    <div class="bg-base-300 p-5 mb-4 rounded border border-base-content border-opacity-20">
                        <h2 class="text-lg font-semibold mb-2">QEP 1</h2>
                        <ol x-show="qep1.length" class="list-decimal list-inside">
                            <template x-for="item in qep1">
                                <li x-text="item"></li>
                            </template>
                        </ol>
                        <p x-show="!qep1.length">
                            -
                        </p>
                    </div>
                    <div class="bg-base-300 p-5 rounded border border-base-content border-opacity-20">
                        <h2 class="text-lg font-semibold mb-2">Operations in QEP 1 & not in QEP 2</h2>
                        <ol x-show="qep1diff.length" class="list-decimal list-inside">
                            <template x-for="item in qep1diff">
                                <li x-text="item"></li>
                            </template>
                        </ol>
                        <p x-show="!qep1diff.length">
                            -
                        </p>
                    </div>
                </div>
                <div class="hidden lg:flex divider divider-horizontal">vs</div>
                <div class="flex-1">
                    <div class="bg-base-300 p-5 mb-4 rounded border border-base-content border-opacity-20">
                        <h2 class="text-lg font-semibold mb-2">QEP 2</h2>
                        <ol x-show="qep2.length" class="list-decimal list-inside">
                            <template x-for="item in qep2">
                                <li x-text="item"></li>
                            </template>
                        </ol>
                        <p x-show="!qep2.length">
                            -
                        </p>
                    </div>
                    <div class="bg-base-300 p-5 rounded border border-base-content border-opacity-20">
                        <h2 class="text-lg font-semibold mb-2">Operations in QEP 2 & not in QEP 1</h2>
                        <ol x-show="qep2diff.length" class="list-decimal list-inside">
                            <template x-for="item in qep2diff">
                                <li x-text="item"></li>
                            </template>
                        </ol>
                        <p x-show="!qep2diff.length">
                            -
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function getData() {
        return { 
            query1: '',
            query2: '',
            exampleQuery: '',
            diff: [],
            qep1: [],
            qep2: [],
            qep1diff: [],
            qep2diff: [],
            error: '',
            handleSubmit() {
                const res = fetch(`{{ url_for('compare') }}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        query1: this.query1,
                        query2: this.query2,
                    })
                }).then(res => {
                    if (res.status !== 200) {
                        throw new Error("Error getting query plans. Please check your input")
                    } else {
                        return res.json()
                    }
                }).then(data => {
                    this.qep1 = data.qep1
                    this.qep2 = data.qep2
                    this.qep1diff = data.qep1diff
                    this.qep2diff = data.qep2diff
                    this.diff = data.diff
                    this.error = data.error
                })
            },
            updateQueries() {
                switch (this.exampleQuery) {
                    case "1":
                        this.query1 = "select c.c_name, o.o_orderkey, n.n_name from customer c INNER JOIN orders o ON c.c_custkey = o.o_custkey INNER JOIN nation n ON c.c_nationkey = n.n_nationkey WHERE c.c_name = 'Customer#000000316' LIMIT 100"
                        this.query2 = "select c.c_name, o.o_orderkey, n.n_name from customer c INNER JOIN orders o ON c.c_custkey = o.o_custkey INNER JOIN nation n ON c.c_nationkey = n.n_nationkey WHERE c.c_name = 'Customer#000000316';" 
                        break
                    case "2":
                        this.query1 = "select * from customer c, nation n where n.n_nationkey = c.c_nationkey order by c_nationkey asc"
                        this.query2 = "select c.c_name from customer c, nation n where n.n_nationkey = c.c_nationkey order by c_nationkey asc"
                        break
                    case "3":
                        this.query1 = "select c_name, o_comment from customer inner join orders on c_custkey = o_orderkey;"
                        this.query2 = "select c_name, o_comment from customer inner join orders on c_custkey = o_custkey;"
                        break
                    case "4":
                        this.query1 = "SELECT c.c_name, o.o_orderkey, n.n_name FROM customer c INNER JOIN orders o ON c.c_custkey = o.o_custkey INNER JOIN nation n ON c.c_nationkey = n.n_nationkey WHERE c.c_name = 'Customer#000000316';"
                        this.query2 = "SELECT c.c_name, o.o_orderkey, n.n_name FROM customer c INNER JOIN orders o ON c.c_custkey = o.o_custkey INNER JOIN nation n ON c.c_nationkey = n.n_nationkey WHERE c.c_name = 'Customer#000000316' AND o.o_orderpriority = '1-URGENT';"
                        break
                    case "5":
                        this.query1 = "select * from customer c where c.c_name = 'Customer#000000316'"
                        this.query2 = "select * from customer c"
                        break
                    case "6":
                        this.query1 = "SELECT sum(C.c_acctbal) FROM customer AS c, nation AS n WHERE c.c_nationkey = n.n_nationkey AND n.n_name = 'INDIA'"
                        this.query2 = "SELECT sum(C.c_acctbal) FROM customer AS c, nation AS n WHERE c.c_nationkey = n.n_nationkey AND n.n_name = 'ARGENTINA'"
                        break
                    default:
                        this.query1 = ''
                        this.query2 = ''
                }
            },
            resetQueries() {
                this.query1 = ''
                this.query2 = ''
                this.exampleQuery = ''
                this.diff = []
                this.qep1 = []
                this.qep2 = []
                this.qep1diff = []
                this.qep2diff = []
                this.error = ''
            }
        }
    }
</script>
</html>
